# DATA

## LOAD DATA

In [ ]:
! wget --header="Host: storage.googleapis.com" --header="User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9" --header="Accept-Language: en-US,en;q=0.9" --header="Referer: https://www.kaggle.com/" "https://storage.googleapis.com/kaggle-data-sets/20710/26737/bundle/archive.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20210103%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20210103T010233Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=4cc7595649d14bdd9e404acc8442d4a80429ad8ad4decbfa812ae967e30fc47b23cd01a6db6103a8348ce6c37cb73fbe237d439cd0d3a56763a491de872034fe8242ba6724e9546c4bd9f58cc9f0a57cffe08414b4199035c51f95e8b150ba876aa7844af078505eb28658e098b19798b57e03a5d1d820bede49b00a2f45f1784564f3894eda9466f9a5e8373a100278a1e6915a65dcd6c69a9705d724cd8102fab36fd2ef82a783fb2657248f9f14f1ba9fd318b16b35da0aa7d633bc5ceee046804c8f71e9c744c097c15d8454d5d069a98a1892bb9ab7c9f71bca8be9c942b9dcdea309072f577bd2c066fb0fd2c3d6d0e5404406a384a38342f6a3ebfa30" -c -O 'archive.zip'

--2021-01-03 01:02:44--  https://storage.googleapis.com/kaggle-data-sets/20710/26737/bundle/archive.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20210103%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20210103T010233Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=4cc7595649d14bdd9e404acc8442d4a80429ad8ad4decbfa812ae967e30fc47b23cd01a6db6103a8348ce6c37cb73fbe237d439cd0d3a56763a491de872034fe8242ba6724e9546c4bd9f58cc9f0a57cffe08414b4199035c51f95e8b150ba876aa7844af078505eb28658e098b19798b57e03a5d1d820bede49b00a2f45f1784564f3894eda9466f9a5e8373a100278a1e6915a65dcd6c69a9705d724cd8102fab36fd2ef82a783fb2657248f9f14f1ba9fd318b16b35da0aa7d633bc5ceee046804c8f71e9c744c097c15d8454d5d069a98a1892bb9ab7c9f71bca8be9c942b9dcdea309072f577bd2c066fb0fd2c3d6d0e5404406a384a38342f6a3ebfa30
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.73.240, 172.253.115.128, 172.253.122.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.73.240|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 199644 (195K) [application/zip]
Saving to: ‘archive.zip’

archive.zip         100%[===================>] 194.96K  --.-KB/s    in 0.002s

2021-01-03 01:02:44 (106 MB/s) - ‘archive.zip’ saved [199644/199644]

In [ ]:
! unzip archive.zip

Archive:  archive.zip
  inflating: Bengaluru_House_Data.csv

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_raw = pd.read_csv("Bengaluru_House_Data.csv")

In [ ]:
df = df_raw.copy()

First look into Data

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [ ]:
df.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [ ]:
df.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...     1.0   39.07
1            Plot  Area  Ready To Move  ...     3.0  120.00
2        Built-up  Area  Ready To Move  ...     3.0   62.00
3  Super built-up  Area  Ready To Move  ...     1.0   95.00
4  Super built-up  Area  Ready To Move  ...     1.0   51.00

[5 rows x 9 columns]

## PRE PROCESSING

In [ ]:
df['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', nan, '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

size should be a number

In [ ]:
# extract rooms
df['size'] = pd.to_numeric(df['size'].str.extract(r'(^\d+)\s', expand=False))

total sqft is a string, but it should be a number

carries some range values, hence not a number

In [ ]:
from IPython.display import display
def display_all(df):
    with pd.option_context("display.max_rows", 1000): 
        display(df)

In [ ]:
import re
seen = set()
def check(s):
  if s.find('-') != -1: return
  if not s: return
  try:
    float(s.strip())
  except Exception as err:
    s = re.sub(r'^\d+', '', s)
    s = re.sub(r'^.\d+', '', s)
    seen.add(s)

In [ ]:
df.total_sqft.apply(check)

0        None
1        None
2        None
3        None
4        None
         ...
13315    None
13316    None
13317    None
13318    None
13319    None
Name: total_sqft, Length: 13320, dtype: object

In [ ]:
seen

{'Acres', 'Cents', 'Grounds', 'Guntha', 'Perch', 'Sq. Meter', 'Sq. Yards'}

In [ ]:
display_all(df[~df.total_sqft.str.isnumeric() & (df.total_sqft.str.find('-') == -1)])

                  area_type   availability  ... balcony   price
44     Super built-up  Area         19-Sep  ...     2.0   91.79
142    Super built-up  Area  Ready To Move  ...     1.0  105.00
373    Super built-up  Area         19-Mar  ...     2.0  275.00
393    Super built-up  Area  Ready To Move  ...     2.0   53.00
410    Super built-up  Area  Ready To Move  ...     0.0   18.50
448    Super built-up  Area  Ready To Move  ...     2.0  135.00
648          Built-up  Area  Ready To Move  ...     NaN  265.00
775          Built-up  Area  Ready To Move  ...     1.0   93.00
872    Super built-up  Area  Ready To Move  ...     NaN   45.00
999    Super built-up  Area  Ready To Move  ...     2.0  145.00
1019             Plot  Area         18-Mar  ...     0.0  110.00
1086             Plot  Area         19-Mar  ...     2.0   29.50
1282         Built-up  Area  Ready To Move  ...     2.0   65.00
1330   Super built-up  Area         22-May  ...     3.0  249.00
1400   Super built-up  Area  Ready To Move  ...     1.0  296.00
1499           Carpet  Area         18-Dec  ...     1.0   69.09
1638   Super built-up  Area  Ready To Move  ...     2.0   68.00
1712             Plot  Area  Ready To Move  ...     1.0   95.00
1743   Super built-up  Area         19-Mar  ...     1.0  115.00
1821             Plot  Area  Ready To Move  ...     1.0   76.00
1925   Super built-up  Area  Ready To Move  ...     1.0  215.00
1976   Super built-up  Area  Ready To Move  ...     3.0  120.00
2036   Super built-up  Area  Ready To Move  ...     1.0   25.00
2310   Super built-up  Area  Ready To Move  ...     NaN  270.00
2394   Super built-up  Area  Ready To Move  ...     2.0  116.00
2475   Super built-up  Area  Ready To Move  ...     3.0  110.00
2595   Super built-up  Area  Ready To Move  ...     2.0  105.00
2881         Built-up  Area  Ready To Move  ...     2.0   38.00
2949   Super built-up  Area         22-May  ...     1.0  100.00
3012   Super built-up  Area  Ready To Move  ...     1.0   59.00
3067             Plot  Area  Ready To Move  ...     1.0   31.70
3228         Built-up  Area  Ready To Move  ...     1.0  140.00
3285             Plot  Area         18-May  ...     2.0  378.00
3350   Super built-up  Area         18-Jul  ...     1.0   68.38
3424           Carpet  Area         18-Dec  ...     1.0  121.00
3499   Super built-up  Area  Ready To Move  ...     1.0  103.00
3533   Super built-up  Area         18-Jul  ...     1.0   81.00
3591   Super built-up  Area  Ready To Move  ...     2.0   91.20
3650   Super built-up  Area         22-May  ...     1.0  160.00
4113   Super built-up  Area         18-Jan  ...     2.0   10.00
4201   Super built-up  Area  Ready To Move  ...     2.0   88.00
4229   Super built-up  Area         18-Jun  ...     1.0  104.00
4288           Carpet  Area         18-Dec  ...     1.0   88.91
4293         Built-up  Area  Ready To Move  ...     NaN  260.00
4512   Super built-up  Area  Ready To Move  ...     2.0   92.00
4620           Carpet  Area         18-Dec  ...     1.0   80.64
4872   Super built-up  Area         18-Jan  ...     2.0  196.00
5453             Plot  Area  Ready To Move  ...     3.0   75.00
5472   Super built-up  Area  Ready To Move  ...     2.0   55.00
5518           Carpet  Area         18-Dec  ...     1.0  129.00
5521   Super built-up  Area         19-Mar  ...     1.0  117.00
5537         Built-up  Area  Ready To Move  ...     1.0  180.00
5631   Super built-up  Area  Ready To Move  ...     2.0  185.00
5668         Built-up  Area  Ready To Move  ...     3.0  400.00
5695   Super built-up  Area         20-Jul  ...     2.0  650.00
5708             Plot  Area  Ready To Move  ...     2.0  160.00
5709           Carpet  Area         18-Dec  ...     1.0  131.00
5717   Super built-up  Area         22-May  ...     3.0  400.00
5811   Super built-up  Area  Ready To Move  ...     2.0   90.00
5976         Built-up  Area  Ready To Move  ...     1.0   63.00
5977         Built-up  Area  Ready To Move  ...     2.0   42.00
6080             Plot  Area  Ready To Move  ...     2.0  211.00
6185   Super built-up  Area         22-May  ...     2.0  168.00
6268         Built-up  Area  Ready To Move  ...     0.0   48.00
6303         Built-up  Area  Ready To Move  ...     1.0   69.34
6333             Plot  Area  Ready To Move  ...     0.0  200.00
6552             Plot  Area  Ready To Move  ...     2.0  550.00
6592         Built-up  Area  Ready To Move  ...     2.0  211.00
6766   Super built-up  Area  Ready To Move  ...     1.0   41.51
6826   Super built-up  Area  Ready To Move  ...     0.0   69.00
6858   Super built-up  Area  Ready To Move  ...     2.0  105.00
6953   Super built-up  Area         18-Aug  ...     1.0  109.00
7001             Plot  Area  Ready To Move  ...     2.0  290.00
7103   Super built-up  Area  Ready To Move  ...     2.0  133.00
7240   Super built-up  Area  Ready To Move  ...     0.0  190.00
7248         Built-up  Area  Ready To Move  ...     3.0   46.00
7284   Super built-up  Area  Ready To Move  ...     1.0  115.00
7334             Plot  Area  Ready To Move  ...     0.0  125.00
7442   Super built-up  Area  Ready To Move  ...     1.0  160.00
7494   Super built-up  Area         18-Jun  ...     1.0   98.00
7520   Super built-up  Area  Ready To Move  ...     1.0   48.00
7579   Super built-up  Area  Ready To Move  ...     1.0   80.00
7607             Plot  Area  Ready To Move  ...     1.0  217.00
7617   Super built-up  Area         19-Mar  ...     2.0  570.00
7726             Plot  Area  Ready To Move  ...     0.0  125.00
7749   Super built-up  Area  Ready To Move  ...     3.0  120.00
7777   Super built-up  Area  Ready To Move  ...     2.0  145.00
8153           Carpet  Area         18-Dec  ...     1.0  100.00
8273         Built-up  Area  Ready To Move  ...     0.0  150.00
8870   Super built-up  Area         19-Sep  ...     2.0  115.00
8974   Super built-up  Area  Ready To Move  ...     2.0   88.00
9245           Carpet  Area         18-Dec  ...     1.0  104.00
9273   Super built-up  Area         17-Oct  ...     3.0   98.00
9366   Super built-up  Area  Ready To Move  ...     2.0  135.00
9369   Super built-up  Area         22-May  ...     2.0  245.00
9423             Plot  Area  Ready To Move  ...     1.0   48.00
9519         Built-up  Area  Ready To Move  ...     1.0  232.00
9734           Carpet  Area  Ready To Move  ...     1.0   18.00
10223            Plot  Area  Ready To Move  ...     1.0  462.00
10230            Plot  Area  Ready To Move  ...     1.0  270.00
10295            Plot  Area  Ready To Move  ...     1.0  120.00
10333  Super built-up  Area  Ready To Move  ...     2.0   89.00
10488            Plot  Area  Ready To Move  ...     2.0  200.00
10491  Super built-up  Area  Ready To Move  ...     2.0   40.00
10683          Carpet  Area         18-Dec  ...     1.0   78.74
10719  Super built-up  Area  Ready To Move  ...     1.0   65.00
10794        Built-up  Area         18-Apr  ...     1.0  133.00
10907          Carpet  Area  Ready To Move  ...     0.0   36.38
11000  Super built-up  Area  Ready To Move  ...     1.0  104.00
11090  Super built-up  Area         19-Jan  ...     2.0  115.00
11162        Built-up  Area  Ready To Move  ...     1.0   65.00
11197  Super built-up  Area  Ready To Move  ...     0.0   25.00
11243  Super built-up  Area  Ready To Move  ...     2.0  125.00
11270  Super built-up  Area  Ready To Move  ...     2.0   92.00
11311  Super built-up  Area  Ready To Move  ...     1.0   45.00
11320            Plot  Area  Ready To Move  ...     0.0  170.00
11330  Super built-up  Area  Ready To Move  ...     1.0   41.51
11615            Plot  Area  Ready To Move  ...     0.0   80.00
11943  Super built-up  Area  Ready To Move  ...     2.0  129.00
12068        Built-up  Area  Ready To Move  ...     0.0  110.00
12159  Super built-up  Area         19-Mar  ...     2.0  261.00
12170  Super built-up  Area         19-Mar  ...     2.0  298.00
12186        Built-up  Area  Ready To Move  ...     1.0   51.00
12202  Super built-up  Area         18-Dec  ...     2.0  193.00
12252        Built-up  Area  Ready To Move  ...     0.0   75.00
12329  Super built-up  Area  Ready To Move  ...     2.0  105.00
12557  Super built-up  Area  Ready To Move  ...     2.0  160.00
12560  Super built-up  Area         18-Dec  ...     1.0  110.00
12652            Plot  Area  Ready To Move  ...     2.0  150.00
12757  Super built-up  Area         20-Apr  ...     2.0  649.00
12843  Super built-up  Area         22-May  ...     2.0  183.00
13086  Super built-up  Area  Ready To Move  ...     NaN  988.00
13123  Super built-up  Area  Ready To Move  ...     2.0   69.00

[133 rows x 9 columns]

contains ranges, sq meter, Perch, Yards etc

In [ ]:
import re
CONVERSION_DICT = {
    'Sq. Meter': 10.7639,
    'Sq. Yards': 9,
    'Perch': 272.25,
    'Acres': 4046.86,
    'Cent': 435.6,
    'Guntha': 1089,
    'Ground': 2400
}

def convert_to_sqft(s):
    if '-' in s:
        t = s.split(' - ')
        return float(t[0])+float(t[1])//2 if len(t) == 2 else float(t[0])
    for area_type, conversion_multiplier in CONVERSION_DICT.items():
      if s.find(area_type) != -1:
        t = s.split(area_type)
        return float(t[0]) * conversion_multiplier if len(t) == 2 else float(t[0])
    return float(s)

In [ ]:
df['total_sqft'] = df['total_sqft'].apply(convert_to_sqft)

In [ ]:
df['total_sqft'].head(20)

0     1056.0
1     2600.0
2     1440.0
3     1521.0
4     1200.0
5     1170.0
6     2732.0
7     3300.0
8     1310.0
9     1020.0
10    1800.0
11    2785.0
12    1000.0
13    1100.0
14    2250.0
15    1175.0
16    1180.0
17    1540.0
18    2770.0
19    1100.0
Name: total_sqft, dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  float64
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  float64
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(5), object(4)
memory usage: 936.7+ KB

In [ ]:
# Numerical Col
df.select_dtypes(include=np.number).columns.tolist()

['size', 'total_sqft', 'bath', 'balcony', 'price']

In [ ]:
df.select_dtypes(include=['object']).columns.tolist()

['area_type', 'availability', 'location', 'society']

In [ ]:
from pandas.api.types import is_string_dtype, is_numeric_dtype

In [ ]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [ ]:
df.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...     1.0   39.07
1            Plot  Area  Ready To Move  ...     3.0  120.00
2        Built-up  Area  Ready To Move  ...     3.0   62.00
3  Super built-up  Area  Ready To Move  ...     1.0   95.00
4  Super built-up  Area  Ready To Move  ...     1.0   51.00

[5 rows x 9 columns]

In [ ]:
y_field = 'price'
y = df[y_field].values
df.drop([y_field], axis=1, inplace=True)

Missing Values Treatment

In [ ]:
(df.isnull().sum() / df.shape[0]) * 100

area_type        0.000000
availability     0.000000
location         0.007508
size             0.120120
society         41.306306
total_sqft       0.000000
bath             0.548048
balcony          4.572072
dtype: float64

In [ ]:
# we will only fill numerical columns
na_dict = {}
for name, column in df.items():
    if is_numeric_dtype(column):
      if pd.isnull(column).sum():
          df[name+'_na'] = pd.isnull(column)
          filler = column.median()
          df[name] = column.fillna(filler)
          na_dict[name] = filler
na_dict

{'balcony': 2.0, 'bath': 2.0, 'size': 3.0}

Handling Cardinality

In [ ]:
df[df.select_dtypes("object").columns].apply(pd.Series.nunique)

area_type          4
availability      81
location        1305
society         2688
dtype: int64

In [ ]:
# society has a lot of missing values, so we will drop it
# availability is a column that should not matter for our analysis too
skip_fields = ['society', 'availability']

df.drop(skip_fields, axis=1, inplace=True)

In [ ]:
MAX_CAT = 20 # THRESHOLD FOR CARDINALITY
for name, column in df.items():
  if not is_numeric_dtype(column) and (column.nunique()>MAX_CAT):
      cat_col = pd.Categorical(column)
      df[name] = cat_col.codes+1

In [ ]:
# getting dummy variables for the rest
df = pd.get_dummies(df, dummy_na=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   location                        13320 non-null  int16
 1   size                            13320 non-null  float64
 2   total_sqft                      13320 non-null  float64
 3   bath                            13320 non-null  float64
 4   balcony                         13320 non-null  float64
 5   size_na                         13320 non-null  bool
 6   bath_na                         13320 non-null  bool
 7   balcony_na                      13320 non-null  bool
 8   area_type_Built-up  Area        13320 non-null  uint8
 9   area_type_Carpet  Area          13320 non-null  uint8
 10  area_type_Plot  Area            13320 non-null  uint8
 11  area_type_Super built-up  Area  13320 non-null  uint8
 12  area_type_nan                   13320 non-null  uint8
dtypes: bool(3), float64(4), int16(1), uint8(5)
memory usage: 546.5 KB

In [ ]:
df.head()

   availability  location  ...  area_type_Super built-up  Area  area_type_nan
0            41       420  ...                               1              0
1            81       318  ...                               0              0
2            81      1180  ...                               0              0
3            81       758  ...                               1              0
4            81       717  ...                               1              0

[5 rows x 15 columns]

# Basline Model

In [ ]:
X = df.to_numpy()

In [ ]:
# Training and Testing Sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
model = RandomForestRegressor(n_estimators=5, n_jobs=-1)
model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=5, n_jobs=-1, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    errors = abs(predictions - test_labels)
    mape = 100 * np.mean(errors / test_labels)
    accuracy = 100 - mape
    print('MAPE = {:0.2f}%.'.format(mape))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy

In [ ]:
evaluate(model, X_test, y_test)

MAPE = 31.50%.
Accuracy = 68.50%.

68.5045351008375

# Fine Tuning

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 400, num = 20)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

In [ ]:
random_grid

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [100,
  115,
  131,
  147,
  163,
  178,
  194,
  210,
  226,
  242,
  257,
  273,
  289,
  305,
  321,
  336,
  352,
  368,
  384,
  400]}

In [ ]:
71rf = RandomForestRegressor()
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
rf_random.fit(X_train, y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:  1.3min
/usr/local/lib/python3.6/dist-packages/joblib/externals/loky/process_executor.py:691: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:  5.5min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:  9.7min finished

RandomizedSearchCV(cv=3, error_score=nan,
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100,
                                                   n_jobs=None, oob_score=Fals...
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [100, 115, 131, 147,
                                                         163, 178, 194, 210,
                                                         226, 242, 257, 273,
                                                         289, 305, 321, 336,
                                                         352, 368, 384, 400]},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [ ]:
29.36 - 31.50

-2.1400000000000006

In [ ]:
best_random = rf_random.best_estimator_
random_accuracy = evaluate(best_random, X_test, y_test)

MAPE = 29.36%.
Accuracy = 70.64%.

In [ ]:
rf_random.best_params_

{'bootstrap': False,
 'max_depth': 70,
 'max_features': 'sqrt',
 'min_samples_leaf': 1,
 'min_samples_split': 5,
 'n_estimators': 147}

In [ ]:
X.shape

(13320, 13)

In [ ]:
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [False],
    'max_depth': [70, 71, 72],
    'max_features': [3, 4],
    'min_samples_split': [5, 6],
    'n_estimators': [147, 150, 155]
}
# Create a based model
rf = RandomForestRegressor()
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [ ]:
# Fit the grid search to the data
grid_search.fit(X_train, y_train)
grid_search.best_params_

Fitting 3 folds for each of 36 candidates, totalling 108 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 108 out of 108 | elapsed:  3.8min finished

{'bootstrap': False,
 'max_depth': 42,
 'max_features': 4,
 'min_samples_split': 6,
 'n_estimators': 226}

In [ ]:
best_grid = grid_search.best_estimator_
grid_accuracy = evaluate(best_grid, X_test, y_test)

Model Performance
Accuracy = 71.12%.

In [ ]:
71.12 - 70.64

0.480000000000004

In [ ]:
import xgboost as xgb

In [ ]:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [ ]:
xg_reg.fit(X_train,y_train)

preds = xg_reg.predict(X_test)

In [ ]:
evaluate(xg_reg, X_test, y_test)

MAPE = 34.42%.
Accuracy = 65.58%.

65.57782549081794

# Deep Learning for Tabular Data

In [ ]:
df = df_raw.copy()

In [ ]:
df.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...     1.0   39.07
1            Plot  Area  Ready To Move  ...     3.0  120.00
2        Built-up  Area  Ready To Move  ...     3.0   62.00
3  Super built-up  Area  Ready To Move  ...     1.0   95.00
4  Super built-up  Area  Ready To Move  ...     1.0   51.00

[5 rows x 9 columns]

In [ ]:
! pip install -U fastai

In [ ]:
import fastai

In [ ]:
from fastai.tabular.all import *

In [ ]:
y_field = 'price'

In [ ]:
df['size'] = pd.to_numeric(df['size'].str.extract(r'(^\d+)\s', expand=False))
df['total_sqft'] = df['total_sqft'].apply(convert_to_sqft)

In [ ]:
df.select_dtypes(include=np.number).columns.tolist()

['size', 'total_sqft', 'bath', 'balcony', 'price']

In [ ]:
df.select_dtypes(include=['object']).columns.tolist()

['area_type', 'availability', 'location', 'society']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  float64
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  float64
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(5), object(4)
memory usage: 936.7+ KB

In [ ]:
cat_names = ['area_type', 'availability', 'location', 'society']
cont_names = ['size', 'total_sqft', 'bath', 'balcony']
procs = [Categorify, FillMissing, Normalize]

In [ ]:
from pathlib import Path

In [ ]:
path = Path().resolve()

In [ ]:
dls = TabularDataLoaders.from_df(df, path, procs=procs, cat_names=cat_names, cont_names=cont_names, 
                                 y_names=y_field, bs=64)

In [ ]:
dls.show_batch()

In [ ]:
learn = tabular_learner(dls, metrics=mae)

In [ ]:
learn.fit_one_cycle(5)

## Using Pandas Profiling

In [ ]:
! pip install pandas-profiling
import pandas as pd
from pandas_profiling import ProfileReport
df = pd.read_csv('Bengaluru_House_Data.csv')
profile = ProfileReport(df, title='Bangalore Housing Data')
profile