## Gettting carbon monoxide daily summary data from kaggle

In [4]:
! wget --header="Host: storage.googleapis.com" --header="User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9" --header="Accept-Language: en-US,en;q=0.9" --header="Referer: https://www.kaggle.com/" "https://storage.googleapis.com/kaggle-data-sets/1505/2690/compressed/epa_co_daily_summary.csv.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20210523%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20210523T025659Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=145bc53471315c5841965f8c67d8994c9ac1f1c1025da08b602ac714bef14ac17f345802744063cf5593642cf63ff309eaeef9dd76fe353c5858fc3ead3c8e73b3003b4b40a5ea6c8ef898c1005d3da0b1880f2e5d5c6d929ebc68c3de267fc4124eccb07fb274fc5cb9c8872fd878ee18fd8016c34d71c8ee570718d4a25dbb771892c9055fc0ee2480597e3bc2b7a3aab0473e1b7383da2aa1f1b247b7debb9c319479fd63108982b9b7b9574acd49cac5150dacb67cc7eefbc3319b6e7c4805d46b600e082397d060fb71331cf7d322526d7d77f8f9cf8ea27a302de5c9174d85956e6375c8667819fbaa3402bfbe4ae8b10ef6adeb725f06f8c94337174e" -c -O 'epa_co_daily_summary.csv.zip'

--2021-05-23 02:57:13--  https://storage.googleapis.com/kaggle-data-sets/1505/2690/compressed/epa_co_daily_summary.csv.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20210523%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20210523T025659Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=145bc53471315c5841965f8c67d8994c9ac1f1c1025da08b602ac714bef14ac17f345802744063cf5593642cf63ff309eaeef9dd76fe353c5858fc3ead3c8e73b3003b4b40a5ea6c8ef898c1005d3da0b1880f2e5d5c6d929ebc68c3de267fc4124eccb07fb274fc5cb9c8872fd878ee18fd8016c34d71c8ee570718d4a25dbb771892c9055fc0ee2480597e3bc2b7a3aab0473e1b7383da2aa1f1b247b7debb9c319479fd63108982b9b7b9574acd49cac5150dacb67cc7eefbc3319b6e7c4805d46b600e082397d060fb71331cf7d322526d7d77f8f9cf8ea27a302de5c9174d85956e6375c8667819fbaa3402bfbe4ae8b10ef6adeb725f06f8c94337174e
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.128.128, 142.251.6.128, 74.125.126.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.128.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 544033635 (519M) [application/zip]
Saving to: ‘epa_co_daily_summary.csv.zip’

epa_co_daily_summar 100%[===================>] 518.83M   138MB/s    in 3.8s

2021-05-23 02:57:17 (135 MB/s) - ‘epa_co_daily_summary.csv.zip’ saved [544033635/544033635]

In [6]:
! unzip epa_co_daily_summary.csv.zip

Archive:  epa_co_daily_summary.csv.zip
  inflating: epa_co_daily_summary.csv

## Loading a sample for quick check

In [7]:
%%time
import pandas as pd
df_dummy = pd.read_csv('epa_co_daily_summary.csv', nrows=1000)

CPU times: user 21.7 ms, sys: 6.85 ms, total: 28.6 ms
Wall time: 633 ms

In [8]:
df_dummy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   state_code           1000 non-null   int64
 1   county_code          1000 non-null   int64
 2   site_num             1000 non-null   int64
 3   parameter_code       1000 non-null   int64
 4   poc                  1000 non-null   int64
 5   latitude             1000 non-null   float64
 6   longitude            1000 non-null   float64
 7   datum                1000 non-null   object
 8   parameter_name       1000 non-null   object
 9   sample_duration      1000 non-null   object
 10  pollutant_standard   1000 non-null   object
 11  date_local           1000 non-null   object
 12  units_of_measure     1000 non-null   object
 13  event_type           1000 non-null   object
 14  observation_count    1000 non-null   int64
 15  observation_percent  1000 non-null   float64
 16  arithmetic_mean      1000 non-null   float64
 17  first_max_value      1000 non-null   float64
 18  first_max_hour       1000 non-null   int64
 19  aqi                  497 non-null    float64
 20  method_code          503 non-null    float64
 21  method_name          1000 non-null   object
 22  local_site_name      715 non-null    object
 23  address              1000 non-null   object
 24  state_name           1000 non-null   object
 25  county_name          1000 non-null   object
 26  city_name            1000 non-null   object
 27  cbsa_name            984 non-null    object
 28  date_of_last_change  1000 non-null   object
dtypes: float64(7), int64(7), object(15)
memory usage: 226.7+ KB

In [9]:
df_dummy.head(3).transpose()

                                                         0  ...                                                  2
state_code                                               6  ...                                                 30
county_code                                             73  ...                                                 31
site_num                                                 5  ...                                                 16
parameter_code                                       42101  ...                                              42101
poc                                                      1  ...                                                  1
latitude                                           33.2026  ...                                            44.6614
longitude                                         -117.366  ...                                           -111.106
datum                                                NAD27  ...                                              WGS84
parameter_name                             Carbon monoxide  ...                                    Carbon monoxide
sample_duration                                     1 HOUR  ...                                             1 HOUR
pollutant_standard                          CO 1-hour 1971  ...                                     CO 1-hour 1971
date_local                                      1994-02-01  ...                                         2010-05-06
units_of_measure                         Parts per million  ...                                  Parts per million
event_type                                            None  ...                                               None
observation_count                                       24  ...                                                 23
observation_percent                                    100  ...                                                 96
arithmetic_mean                                    1.12917  ...                                           0.156522
first_max_value                                        1.9  ...                                                0.3
first_max_hour                                           8  ...                                                 22
aqi                                                    NaN  ...                                                NaN
method_code                                             66  ...                                                 93
method_name          INSTRUMENTAL - NONDISPERSIVE INFRARED  ...  INSTRUMENTAL - GAS FILTER CORRELATION CO ANALYZER
local_site_name                      Oceanside-Mission Ave  ...                       West Yellowstone City Center
address                        1701 MISSION AVE. OCEANSIDE  ...                                              ALLEY
state_name                                      California  ...                                            Montana
county_name                                      San Diego  ...                                           Gallatin
city_name                                        Oceanside  ...                                   West Yellowstone
cbsa_name                            San Diego-Carlsbad CA  ...                                         Bozeman MT
date_of_last_change                             2016-04-27  ...                                         2016-04-10

[29 rows x 3 columns]

## Loading the full data

In [10]:
%%time
df_raw = pd.read_csv('epa_co_daily_summary.csv', 
                      low_memory=False,
                     # dtypes=dtypes, 
                     parse_dates=['date_of_last_change', 'date_local'], 
                     infer_datetime_format=True)

CPU times: user 42.2 s, sys: 10.3 s, total: 52.6 s
Wall time: 56.4 s

## Different feature types

In [11]:
import numpy as np
df_raw.select_dtypes(include=np.number).columns.tolist()

['state_code',
 'county_code',
 'site_num',
 'parameter_code',
 'poc',
 'latitude',
 'longitude',
 'observation_count',
 'observation_percent',
 'arithmetic_mean',
 'first_max_value',
 'first_max_hour',
 'aqi',
 'method_code']

## missing types

In [12]:
%time df_raw.isnull().sum().sort_index()/len(df_raw)

CPU times: user 4.06 s, sys: 46.5 ms, total: 4.1 s
Wall time: 4.12 s

address                0.000000
aqi                    0.499884
arithmetic_mean        0.000000
cbsa_name              0.024427
city_name              0.000000
county_code            0.000000
county_name            0.000000
date_local             0.000000
date_of_last_change    0.000000
datum                  0.000000
event_type             0.000000
first_max_hour         0.000000
first_max_value        0.000000
latitude               0.000000
local_site_name        0.272324
longitude              0.000000
method_code            0.500116
method_name            0.000000
observation_count      0.000000
observation_percent    0.000000
parameter_code         0.000000
parameter_name         0.000000
poc                    0.000000
pollutant_standard     0.000000
sample_duration        0.000000
site_num               0.000000
state_code             0.000000
state_name             0.000000
units_of_measure       0.000000
dtype: float64

## running profiling on code

In [13]:
def sum_of_lists(N):
    total = 0
    for i in range(5):
        L = [j ^ (j >> i) for j in range(N)]
        total += sum(L)
    return total

In [14]:
%prun sum_of_lists(1000000)